apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - project-infra.yaml

# Define the remote Helm chart details
helmCharts:
  - name: argo-cd # Name of the chart in the Helm repository
    version: 8.6.4 # Specific chart version to pull (optional)
    releaseName: argo-cd # Release name for the deployment
    repo: https://argoproj.github.io/argo-helm # Remote Helm repository URL
    valuesFile: values.yaml # Path to your custom values file (if needed)
    namespace: argo-cd # Namespace where resources will be deployed

patchesStrategicMerge:
  - patch-configmap.yaml
