vmsingle:
  spec:
    resources:
      limits:
        cpu: "600m"
        memory: "1500Mi"
      requests:
        cpu: "150m"
        memory: "500Mi"

vmagent:
  spec:
    resources:
      limits:
        cpu: "200m"
        memory: "500Mi"
      requests:
        cpu: "50m"
        memory: "200Mi"

grafana:
  persistence:
    type: pvc
    enabled: true
  deploymentStrategy:
    type: Recreate
    rollingUpdate: null
  sidecar:
    dashboards:
      additionalDashboardAnnotations:
        argocd.argoproj.io/sync-options: ServerSideApply=true
  grafana.ini:
    server:
      domain: grafana.apps.k8s.vdude.io
      root_url: https://grafana.apps.k8s.vdude.io
