persistence:
  data:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
  media:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 8Gi
  export:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
  consume:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 4Gi
postgresql:
  image:
    tag: "latest"
  enabled: true
  primary:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 8Gi
redis:
  image:
    tag: "latest"
  enabled: true
  master:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 2Gi
