apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml

helmCharts:
  - name: alloy
    releaseName: alloy
    repo: https://grafana.github.io/helm-charts
    version: 1.5.1
    valuesFile: values.yaml
    namespace: grafana-alloy
    includeCRDs: true
